html {
    background-color: #E26565;
}

header {
    background-color: #F65626;
}

body {
    background-color: #A56596;
}

main {
    background-color: #B21456;
}

Footer {
    background-color: #C123456;
}