
html {
    background: #ff741f /*#fff url(../fond.png)*/;
}

/* BODY */
body {
    margin: 0;
	font-family: blocktastic;
}
/* HEADER */
header {
    position: fixed;
    background-color: #2E2E2E;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
}

#header-inner { margin:0 auto; padding:0; width:80%; }

#top-nav { margin:0 auto; padding:0px 0 0; height:60px; float:left;}
#top-nav ul { list-style:none; padding:0; height:60px; float:left;}
#top-nav ul li { margin:0; padding:0 0 0 8px; float:left;}
#top-nav ul li a { display:block; margin:0; padding:8px 20px; color:#fff; text-decoration:none; font-size: 20px;}
#top-nav ul li.active a, #top-nav ul li a:hover { color:#000000;}

	a{
		color:#fff;
	}

#header-inner2 { margin:0 auto; padding:0; width:10%; }

/*#top-nav { margin:0 auto; padding:0px 0 0; height:60px; float:left;}
#top-nav ul { list-style:none; padding:0; height:60px; float:left;}
#top-nav ul li { margin:0; padding:0 0 0 8px; float:left;}
#top-nav ul li a { display:block; margin:0; padding:8px 20px; color:#fff; text-decoration:none; font-size: 20px;}
#top-nav ul li.active a, #top-nav ul li a:hover { color:#000000;}*/

header div {
	display: inline-block;
}

/* Header: hover */

header div div ul li:hover {
    background: #ff741f; /*#6E6E6E;*/
}



/* SECTION */
section {
    padding-top: 100px;
    height: auto;
    width: 80%;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background: #000000 /*url(../IMG/LogoSpin4.png) fixed center no-repeat*/;
	margin: auto;
}

section div {
    text-align: center;
}

.windows{
    margin-left:5%;
	margin-right:5%;
	margin-bottom: 30px;
	margin-top: 30px;
    display: inline-block;
    height:500px;
    width:340px;
    background-color: rgba(109, 109, 109, 0.7);
}


/* TITRE */
span {
	font-family: SLANT;
    font-size: 60px;
    color: #ff741f;
    text-decoration: underline;
    font-weight: 900;
}

dp1 {
	text-decoration: none !important;
	font-size: 60px;
    color: #ff741f;
    text-align: center;
    font-weight: 900;
}

/* SOUS-TITRE*/
spar {
    font-size: 35px;
    text-decoration: underline;
    font-weight: 900;
}

dp2 {
	font-size: 35px;
    text-decoration: none;
    font-weight: 900;
}

/* TEXTE*/
spat {
    font-size: 20px;
}

.space {
    padding-bottom: 40px;
}

section p {
    margin: 20px;
}

section a img {
    padding-bottom: 50px;
}

section a:hover {
    color: #ff741f;
}

/* Responcive section*/

@media screen and (max-width: 449px) {
    section {
        width: 100%;
    }
	
	section div div{
		margin:1%;
		width: 98%;
	}
	
	#header-inner {width:100% !important;}
}

@media screen and (min-width: 450px) and (max-width: 800px) {
    section {
        width: 85%;
    }
	
	section div div{
		margin:1%;
	}
	
	#header-inner {width:85% !important;}
}

@media screen and (max-width: 1570px) {
	
	.cont {
		width: 65% !important;
	}
	
	.actu {
		width: 35% !important;
	}
	
	.windows{
		width: 75% !important;	
	}
	
}

/* FOOTER */

footer {
    padding-top: 10px;
    background-color: #2E2E2E;
    text-align: center;
    bottom: 0px;
    width: 100%;
    color: #fff;
}


.test {
    display: inline-block;
    margin: 0;
	width: 100%
}


.twitch {
    width:65%;
    margin: 1%;
}    

.active {
	background-color: #ff741f !important;	
}

/*MAIN PAGE */

.actu{
	float:right;
	width:30%;
}

.cont{
	width: 65%;
	float: left;

}

.new{
	background-color: rgba(109, 109, 109, 0.7);
	text-align: center;
	height: 40px;
	margin-left:5%;
	margin-right:5%;
	margin-bottom: 30px;
	margin-top: 30px;
}

.head {
	width: 90%;
}

@font-face {
	font-family: "SLANT";
	src: url('FONT/SLANT.TTF');
}

@font-face {
	font-family : "blocktastic";
	src: url('FONT/blocktastic.otf');
}

@font-face {
	font-family : "blocktastic";
	font-style: italic;
	src: url('FONT/blocktastic-itl.otf');
}

/*Counter*/
cont {
    font-size: 35px;
    font-weight: 900;
}

.counter > cont:not(:last-of-type):after {
	content: " : ";
}
