html {
    background: #D55806 url("background.jpg") no-repeat;
    position: fixed;
    width: 100%;
}

@font-face {
    font-familly: "Blacksword";
    src: url('Blacksword.otf');
}

header {
    position: fixed;
    background-color: #2E2E2E;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
}

header div {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

header div div:hover {
    background-color: #585858;
}

a {
    color: #fff;
}

a:hover {
    color: #D55806;
}

main {
    background-color: #fff;
    padding-top: 50px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.conec {
    position: absolute;
    right: 10px;
}

h1 {
    texte-align: center;
    font-familly: "Blacksword";
}

main div p {
    font-familly: "Blacksword";
}
